<div class="sidebar" id="sidebar">

  <div class="container">
    <div class="col-md-12">
      <div class="tab-content">
  <div id="discussions" class="tab-pane fade active show">
    <div class="search">
      <form class="form-inline position-relative">
        <input type="search" class="form-control" id="conversations" placeholder="Search for Users">
        <button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
      </form>
      <button class="btn create" data-toggle="modal" data-target="#startnewchat"><i class="material-icons">create</i></button>
    </div>
    <!-- <div class="list-group sort">
      <button class="btn filterDiscussionsBtn active show" data-toggle="list" data-filter="all">All</button>
      <button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="read">Read</button>
      <button class="btn filterDiscussionsBtn" data-toggle="list" data-filter="unread">Unread</button>
    </div> -->
    <div class="contacts">
      <h1>Contacts</h1>
      <div class="list-group" id="contacts" role="tablist">
        
        <a href="#" class="filterMembers all offline contact" data-toggle="list">
          <img class="avatar-md" src="assets/img/avatars/avatar-male-4.jpg" data-toggle="tooltip" data-placement="top" title="Mildred" alt="avatar">
          <div class="status">
            <i class="material-icons offline">fiber_manual_record</i>
          </div>
          <div class="data">
            <h5>Mildred Bennett</h5>
            <p>London, United Kingdom</p>
          </div>
          <div class="person-add">
            <i class="material-icons">person</i>
          </div>
        </a>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
